<li>
	<a href="{% url 'popular' %}"
		class="block py-2 px-3 md:hidden text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700 md:p-0">Popular
		Anime</a>
</li>
<li>
	<a href="{% url 'recent' %}"
		class="block py-2 px-3 md:hidden text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700 md:p-0">Recent
		Episodes</a>
</li>
<li>
	<a href="{% url 'top' %}"
		class="block py-2 px-3 md:hidden text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700 md:p-0">Top
		Airing Anime</a>
</li>
<li>
	<a href="{% url 'trending' %}"
		class="block py-2 px-3 md:hidden text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700 md:p-0">Trending
		Anime</a>
</li>