<li aria-labelledby="linksDropdownNavbar" class="hidden md:flex">
	<button id="linksDropdownButton" data-dropdown-toggle="linksDropdown" data-dropdown-placement="bottom" type="button"
		class="hidden md:flex items-center justify-between w-full px-4 py-2 hover:text-gray-400 rounded-full">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
			class="w-6 h-6">
			<path stroke-linecap="round" stroke-linejoin="round"
				d="M6.429 9.75L2.25 12l4.179 2.25m0-4.5l5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0l4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0l-5.571 3-5.571-3" />
		</svg>
	</button>
	<div id="linksDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
		<ul class="py-2 space-y-1 text-sm text-gray-700" aria-labelledby="linksDropdownButton">
			<li>
				<a href="{% url 'popular' %}"
					class="hidden py-2 px-4 md:block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700">Popular
					Anime</a>
			</li>

			<li>
				<a href="{% url 'recent' %}"
					class="hidden py-2 px-4 md:block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700">Recent
					Episodes</a>
			</li>
			<li>
				<a href="{% url 'top' %}"
					class="hidden py-2 px-4 md:block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700">Top
					Airing Anime</a>
			</li>
			<li>
				<a href="{% url 'trending' %}"
					class="hidden py-2 px-4 md:block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-slate-700">Trending
					Anime</a>
			</li>
		</ul>
	</div>
</li>