<nav class="border-gray-200">
	<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
		{% comment %} Site Logo {% endcomment %}
		{% include "base/partials/navbar/navbar_logo.html" %}

		{% comment %} Navbar Content {% endcomment %}
		{% include "base/partials/navbar/navbar_content.html" %}

		{% comment %} User Dropdown {% endcomment %}
		{% include "base/partials/navbar/user_dropdown.html" %}

		{% comment %} Navbar Menu {% endcomment %}
		{% include "base/partials/navbar/navbar_menu.html" %}
	</div>
</nav>