{% extends "base/base.html" %}

{% load static %}
{% load xoanime %}

{% block title %}
{% if request.get_details.title %}
{{request.get_details.title|title}}
{% endif %}
{% endblock title %}

{% block content %}


<div class="flex items-center">
	<div class="flex items-center">
		<p>Title:</p>
		<select id="title-picker">
			<option value="{{request.get_details.title}}" selected>English</option>
			{% for item in request.get_details.altTitles %}
			{% for key,value in item.items %}
			<option value="{{value}}">{{key|lang}}</option>
			{% endfor %}
			{% endfor %}
		</select>
	</div>

	<div class="flex items-center">
		<p>Description:</p>
		<select id="desc-picker">
			{% for key,value in request.get_details.description.items %}
			<option value="{{value}}" {% if key == "en" %} selected {% endif %}>{{key|lang}}</option>
			{% endfor %}
		</select>
	</div>
</div>

{% comment %} Details {% endcomment %}
<div id="details#{{request.get_id}}" class="space-y-4 py-4">
	{% comment %} Title {% endcomment %}
	<div class="flex items-center justify-center p-2 my-2">
		{% if request.get_details.title %}
		<p class="text-3xl font-bold text-center" id="title-container">
			{% if request.get_details.title %}
			{{request.get_details.title|title}}
			{% endif %}
		</p>
		{% endif %}
	</div>

	{% comment %} Cover {% endcomment %}
	{% if request.get_details.cover %}
	<div class="hidden md:block">
		<img src="{{request.get_details.cover}}" alt="{{request.get_id}}#cover" data-type="cover"
			class="hidden mx-auto">
	</div>
	{% endif %}

	{% comment %} Mappings {% endcomment %}
	{% if request.get_provider == "anilist" %}
	<div class="flex items-center p-3 justify-around">

		{% comment %} Mal {% endcomment %}
		{% if request.get_details.malId %}
		<a href="https://myanimelist.net/anime/{{request.get_details.malId}}">
			<img src="{% static 'images/mal.jpg' %}" class="h-8">
		</a>
		{% endif %}

		{% comment %} Mappings {% endcomment %}
		{% if request.get_details.mappings %}

		{% for mapping in request.get_details.mappings %}

		{% comment %} Anilist {% endcomment %}
		{% if "anilist" == mapping.providerId %}
		<a href="https://anilist.co/anime/{{mapping.id}}">
			<img src="{% static 'images/anilist.png' %}" class="h-8">
		</a>
		{% endif %}

		{% comment %} Anidb {% endcomment %}
		{% if "anidb" == mapping.providerId %}
		<a href="https://anidb.net/{{mapping.id}}">
			<img src="{% static 'images/anidb.png' %}" class="h-9">
		</a>
		{% endif %}

		{% comment %} Gogoanime {% endcomment %}
		{% if "gogoanime" == mapping.providerId %}
		<a href="https://gogoanimehd.io{{mapping.id}}">
			<img src="{% static 'images/gogoanime.png' %}" class="h-8">
		</a>
		{% endif %}

		{% comment %} Kitsu {% endcomment %}
		{% if "kitsu" == mapping.providerId %}
		<a href="https://kitsu.io/anime/{{mapping.id}}">
			<img src="{% static 'images/kitsu.png' %}" class="h-8">
		</a>
		{% endif %}

		{% comment %} Tmdb {% endcomment %}
		{% if "tmdb" == mapping.providerId %}
		<a href="https://www.themoviedb.org/{{mapping.id}}">
			<img src="{% static 'images/tmdb.png' %}" class="h-8">
		</a>
		{% endif %}

		{% endfor %}
		{% endif %}

	</div>
	{% endif %}

	{% comment %} Image / Description {% endcomment %}
	<div class="flex flex-col lg:flex-row lg:justify-around space-y-5 lg:space-y-0 p-3">
		{% comment %} Image {% endcomment %}
		<span class="mx-auto">
			{% if request.get_details.image %}
			<img src="{{request.get_details.image}}" alt="" data-type="image" class="h-[300px] w-[220px]">
			{% endif %}
		</span>

		{% comment %} Description {% endcomment %}
		<div class="flex items-center w-3/4 mx-auto lg:w-1/2">
			{% if request.get_details.description %}
			<span class="scrollbar scrollbar-none overflow-auto h-[280px]" id="desc-container">
				{% if request.get_provider == "mangadex" %}
				{{request.get_details.description.en|safe}}
				{% else %}
				{{request.get_details.description|safe}}
				{% endif %}
			</span>
			{% endif %}
		</div>
	</div>

	{% comment %} Watch / Trailer {% endcomment %}
	{% if request.get_now_playing or request.get_details.trailer %}
	<div class="mx-auto text-center py-4">
		{% if request.get_now_playing %}
		<a href="{% url 'watch' %}?id={{request.get_now_playing}}"
			class="px-4 py-3 border rounded-xl shadow-md hover:bg-gray-400">Watch</a>
		{% endif %}
		{% if request.get_details.trailer %}
		<a href="{{request.get_details.trailer.site}}{{request.get_details.trailer.id}}"
			class="px-4 py-3 border rounded-xl shadow-md hover:bg-gray-400">Trailer</a>
		{% endif %}
	</div>
	{% endif %}

	{% if request.get_provider == "anilist" %}
	<div class="flex flex-col lg:flex-row mx-auto w-11/12 space-y-4 space-x-0 lg:space-y-0 lg:space-x-4">

		{% comment %} Characters, Relations, Recommendations {% endcomment %}
		<div class="w-full lg:w-1/3 mx-auto flex flex-col">
			<div class="w-full lg:p-2 mx-auto text-center">
				<p class="text-xl font-bold p-2 py-4" id="characters-button">Characters</p>
				<div class="" id="characters-container">
					<div
						class="relative grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 3xl:grid-cols-2 gap-2 h-[480px] scrollbar scrollbar-none overflow-y-scroll clearfix">
						{% for character in request.get_details.characters %}
						<div class="mx-auto w-[220px] space-y-2 mb-2">
							<p class="py-1 px-0.5 truncate">
								{{character.name.full}}</p>
							<img src="{{character.image}}" alt="" srcset="" class="w-[200px] h-[240px] mx-auto"
								data-popover-target="character-{{forloop.counter}}">
						</div>
						{% comment %} Popover {% endcomment %}
						<div data-popover id="character-{{forloop.counter}}" role="tooltip"
							class="fixed z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
							<div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
								<p class="font-semibold text-gray-900 dark:text-white">Popover title</p>
							</div>
							<div class="px-3 py-2">
								<p>lorem</p>
							</div>
							<div data-popper-arrow></div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="w-full lg:w-1/3 mx-auto flex flex-col">
			<div class="w-full lg:p-2 mx-auto text-center">
				<p class="text-xl font-bold p-2 py-4" id="recommendations-button">Recommendations</p>
				<div class="" id="recommendations-container">
					<div
						class="relative grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 3xl:grid-cols-2 gap-2 h-[480px] scrollbar scrollbar-none overflow-y-scroll clearfix">
						{% for recommendation in request.get_details.recommendations %}
						<div class="mx-auto w-[220px] space-y-2 mb-2">
							<p class="py-1 px-0.5 truncate">
								{{recommendation.title|title}}</p>
							<img src="{{recommendation.image}}" alt="" srcset="" class="w-[200px] h-[240px] mx-auto"
								data-popover-target="recommendation-{{forloop.counter}}">
						</div>
						{% comment %} Popover {% endcomment %}
						<div data-popover id="recommendation-{{forloop.counter}}" role="tooltip"
							class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
							<div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
								<p class="font-semibold text-gray-900 dark:text-white">Popover title</p>
							</div>
							<div class="px-3 py-2">
								<p>lorem</p>
							</div>
							<div data-popper-arrow></div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="w-full lg:w-1/3 mx-auto flex flex-col">
			<div class="w-full lg:p-2 mx-auto text-center">
				<p class="text-xl font-bold p-2 py-4" id="relations-button">
					Relations</p>
				<div class="" id="relations-container">
					<div
						class="relative grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 3xl:grid-cols-2 gap-2 h-[480px] scrollbar scrollbar-none overflow-y-scroll clearfix">
						{% for relation in request.get_details.relations %}
						<div class="mx-auto w-[220px] space-y-2 mb-2">
							<p class="py-1 px-0.5 truncate">
								{{relation.title|title}}</p>
							<img src="{{relation.image}}" data-popover-target="relation-{{forloop.counter}}"
								class="w-[200px] h-[240px] mx-auto" alt="" srcset="">
						</div>
						{% comment %} Popover {% endcomment %}
						<div data-popover id="relation-{{forloop.counter}}" role="tooltip"
							class="absolute z-40 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0">
							<div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
								<p class="font-semibold text-gray-900 dark:text-white">Popover title</p>
							</div>
							<div class="px-3 py-2">
								<p>lorem</p>
							</div>
							<div data-popper-arrow></div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if request.get_provider == "myanimelist" %}
	<div class="flex flex-col lg:flex-row mx-auto w-11/12 space-y-4 space-x-0 lg:space-y-0 lg:space-x-4">

		{% comment %} Openings {% endcomment %}
		<div class="w-full md:w-1/2 mx-auto space-y-2 flex flex-col text-center">
			<p class="text-xl font-bold p-2 py-4" id="openings-button">Openings</p>
			<div class="mx-auto" id="openings-container">
				<div
					class="relative grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 3xl:grid-cols-2 gap-2 h-[480px] scrollbar scrollbar-none overflow-y-scroll clearfix">
					{% for opening in request.get_details.openings %}
					<div class="mx-auto w-[220px] mb-2 border shadow-md p-2 rounded-xl">
						<p class="py-1 px-0.5 truncate">{{opening.name}}</p>
						<p class="py-1 px-0.5 truncate">{{opening.band}}</p>
						<p class="py-1 px-0.5">{{opening.episodes}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>

		{% comment %} Endings {% endcomment %}
		<div class="w-full md:w-1/2 mx-auto space-y-2 flex flex-col text-center">
			<p class="text-xl font-bold p-2 py-4" id="endings-button">Endings</p>
			<div class="mx-auto" id="endings-container">
				<div
					class="relative grid xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-1 3xl:grid-cols-2 gap-2 h-[480px] scrollbar scrollbar-none overflow-y-scroll clearfix">
					{% for endings in request.get_details.endings %}
					<div class="mx-auto w-[220px] mb-2 border shadow-md p-2 rounded-xl">
						<p class="py-1 px-0.5 truncate">{{endings.name}}</p>
						<p class="py-1 px-0.5 truncate">{{endings.band}}</p>
						<p class="py-1 px-0.5">{{endings.episodes}}</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% comment %} Sidebar Button {% endcomment %}
<button
	class="fixed border right-10 md:right-20 opacity-10 hover:opacity-80 bottom-20 bg-slate-100 focus:ring-2 focus:ring-slate-300 font-medium rounded-full text-sm p-2"
	type="button" data-drawer-target="details-sidebar" data-drawer-show="details-sidebar"
	aria-controls="details-sidebar">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
		class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round"
			d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
	</svg>
</button>


{% comment %} Sidebar {% endcomment %}
<div id="details-sidebar"
	class="fixed flex flex-col top-0 left-0 z-40 w-[275px] mb:w-[315px] xxs:w-[370px] xs:w-[420px] h-screen p-2 overflow-y-auto transition-transform -translate-x-full bg-white"
	tabindex="-1" aria-labelledby="details-sidebar-label">
	<div class="items-center flex justify-between p-2 w-10/12 mx-auto">
		{% comment %} Title {% endcomment %}
		<h5 id="details-sidebar-label"
			class="flex-1 truncate text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
			{% if request.get_details.title %}
			{{request.get_details.title|title}}
			{% endif %}
		</h5>

		{% comment %} Close Button {% endcomment %}
		<button type="button" data-drawer-hide="details-sidebar" aria-controls="details-sidebar"
			class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 items-center dark:hover:bg-gray-600 dark:hover:text-white">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"></path>
			</svg>
			<span class="sr-only">Close menu</span>
		</button>
	</div>

	{% comment %} Contents {% endcomment %}
	<div class="flex-1 flex flex-col justify-around">
		<div class="">
			<p class="text-xl text-center py-3 font-semibold">Details</p>
			<hr class="p-2 w-3/5 mx-auto">
			{% include "core/components/details/sidebar.html" %}
		</div>
	</div>
</div>



{% endblock content %}