{% extends "base/base.html" %}

{% load xoanime %}

{% block title %}
Search Results - {{request.get_search_query}}
{% endblock title %}

{% block content %}

<div class="mx-auto">
	<div id="info" class="space-y-3 pb-4">

		<div class="p-2 py-3 flex justify-center items-center">
			<span class="text-xl items-top font-semibold">{{request.get_search_query}}</span>
		</div>
		{% if request.get_provider != "mangadex" %}
		{% include "core/partials/search/head.html" with results=request.get_search_results %}
		{% endif %}
	</div>
	{% if request.get_provider != "mangadex" %}
	{% include "core/partials/search/results.html" with results=request.get_search_results.results %}
	{% else %}
	{% include "core/partials/search/manga.html" with results=request.get_search_results %}
	{% endif %}
</div>

{% endblock content %}