{% extends "base/base.html" %}

{% load static %}
{% load xoanime %}

{% block title %}
Watch
{% endblock title %}

{% block content %}
You are watching:
{% if request.get_details.title.english %}
{{request.get_details.title.english}}
{% elif request.get_details.title.romaji %}
{{request.get_details.title.romaji}}
{% elif request.get_details.title.native %}
{{request.get_details.title.native}}
{% elif request.get_details.title.userPreffered %}
{{request.get_details.title.userPreffered}}
{% else %}
{{request.get_details.title}}
{% endif %}

<button data-type="action-button" disabled>Main</button>
<button data-type="action-button">Backup</button>

<div class="mx-auto container">
	<video id="video" class="z-10">

		{% for source in request.get_links.sources %}
		{% if "default" in source.quality %}
		<source src="{{source.url}}" type="application/x-mpegURL" id="default-source" />
		{% elif "backup" in source.quality %}
		<source src="{{source.url}}" type="application/x-mpegURL" id="backup-source" />
		{% endif %}
		{% endfor %}

	</video>
</div>
{% comment %} Sidebar Button {% endcomment %}
<button
	class="fixed border right-10 md:right-20 opacity-10 hover:opacity-80 bottom-20 bg-slate-100 focus:ring-2 focus:ring-slate-300 font-medium rounded-full text-sm p-2"
	type="button" data-drawer-target="watch-sidebar" data-drawer-show="watch-sidebar" aria-controls="watch-sidebar">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
		class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round"
			d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75" />
	</svg>
</button>


{% comment %} Sidebar {% endcomment %}
<div id="watch-sidebar"
	class="fixed flex flex-col top-0 left-0 z-40 w-[275px] mb:w-[315px] xxs:w-[370px] xs:w-[420px] h-screen p-2 overflow-y-auto transition-transform -translate-x-full bg-white"
	tabindex="-1" aria-labelledby="watch-sidebar-label">
	<div class="items-center flex justify-between p-2 w-10/12 mx-auto">
		{% comment %} Title {% endcomment %}
		<h5 id="watch-sidebar-label"
			class="flex-1 truncate text-base font-semibold text-gray-500 uppercase dark:text-gray-400">
			<p>
				{% if request.get_details.title %}
				{{request.get_details.title|title}}
				{% endif %}
			</p>
		</h5>

		{% comment %} Close Button {% endcomment %}
		<button type="button" data-drawer-hide="watch-sidebar" aria-controls="watch-sidebar"
			class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 items-center dark:hover:bg-gray-600 dark:hover:text-white">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"></path>
			</svg>
			<span class="sr-only">Close menu</span>
		</button>
	</div>

	{% comment %} Contents {% endcomment %}
	<div class="flex-1 flex flex-col">
		{% include "core/components/watch/sidebar.html" %}
	</div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'scripts/hls.min.js' %}" defer></script>
<script src="{% static 'scripts/plyr.min.js' %}" defer></script>
<script src="{% static 'scripts/player.js' %}"></script>
{% endblock scripts %}