{% load xoanime %}
{% load static %}


<div class="flex flex-col space-y-4 mt-6 z-50">
	<p class="text-center truncate">{{request.get_item.title}}</p>
	<div class="flex justify-around">
		<p class="truncate">Volume: {{request.get_item.volumeNumber}}</p>
		<p class="truncate">Chapter: {{request.get_item.chapterNumber}}</p>
		<p class="truncate">Pages: {{request.get_item.pages}}</p>
	</div>
</div>

<div class="my-8"></div>

<div class="flex flex-col">
	<input type="text" id="searchInput" class="mx-auto rounded-xl appearance-none text-center w-10/12"
		placeholder="Search Chapters">
	<div
		class="grid grid-cols-3 xxs:grid-cols-4 py-2 my-4 scrollbar scrollbar-none max-h-[540px] min-h-max overflow-auto mx-auto gap-2 items-center w-10/12">
		{% for item in request.get_items %}
		<a href="{% url 'read' %}?id={{item.id}}" data-action="fetch" data-type="episode" id="episode-{{item.id}}"
			class="{% if item.id == request.get_now_playing %} bg-yellow-300 {% endif %} p-2 text-center border rounded-xl shadow-md hover:bg-yellow-300"
			title="{{item.title}}"> {{item.chapterNumber}} </a>
		{% endfor %}
	</div>
</div>